* {
  box-sizing: border-box;
  padding: 15px;
  margin: 0%;
}
html,
body {
  height: 100%;
  width: 100%;
}

.note-list {
  width: 100%;
}

.note-list thead,
.stats thead {
  background: darkgray;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.stats {
  margin-top: 15px;
  width: 100%;
}
